<div class="login">
   <h1>Predict the probabiltiy for positive or negative movie review</h3>
    <h3> Enter your review</h3>

    <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="your review" placeholder="your review" required="required" size="80"/>

        <button type="submit" class="btn">Predict</button>
    </form>


    <br>
    <br>
    {{ prediction_text }}
    <br>
    <br>
    <p>©Made by Vitali Tsentsiper</p>

    <a href="https://www.linkedin.com/in/vitali-tsentsiper">Visit my Linkedin</a>


</div>